name: Create a beta commit and tag after release
on:
  release:
    types: [published]

jobs:
  check-build-trigger:
    runs-on: ubuntu-latest
    outputs:
      should_commit: ${{ steps.validate.outputs.should_commit }}
    steps:
      - id: validate
        name: Decide if we should create the release commit
        run: |
          SHOULD_COMMIT=false
          TAG="${{ github.event.release.tag_name }}"
          IS_PRERELEASE=${{ github.event.release.prerelease }}
          TARGET_BRANCH="${{ github.event.release.target_commitish }}"
          if [[ ! $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Skip Reason: Tag '$TAG' is not formatted as 'vMAJOR.MINOR.PATCH'"
          elif [[ "$IS_PRERELEASE" == "true" ]]; then
            echo "Skip Reason: A GitHub prerelease was created instead of a GitHub release"
          elif [[ ! $TARGET_BRANCH == releases/* ]]; then
            echo "Skip Reason: Target branch was set to '$TARGET_BRANCH', instead of 'releases/*'"
          else
            echo "All checks passed."
            SHOULD_COMMIT=true
          fi
          echo "should_commit=$SHOULD_COMMIT" >> $GITHUB_OUTPUT

  create-release-commit:
    needs: check-build-trigger
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: needs.check-build-trigger.outputs.should_commit == 'true'
    steps:
    - name: Checkout branch
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Debug Info
      run: |
        TARGET_BRANCH="${{ github.event.release.target_commitish }}"
        echo "Target branch: $TARGET_BRANCH"
        echo "TARGET_BRANCH=$TARGET_BRANCH" >> $GITHUB_ENV
        CURRENT_VERSION="${{ github.event.release.tag_name }}"
        echo "Current tag: $CURRENT_VERSION"
        PATCH=$(cut -d'.' -f3 <<< "$CURRENT_VERSION")
        ((PATCH++))
        NEXT_VERSION="${CURRENT_VERSION%.*}.$PATCH"
        BETA_TAG="${NEXT_VERSION}-beta.0"
        echo "Beta tag: $BETA_TAG"
        echo "BETA_TAG=$BETA_TAG" >> $GITHUB_ENV
    - name: "Commit, tag and push to ${{ github.event.release.target_commitish }}"
      run: |
        git commit --allow-empty -m "Release commit for ${{ env.BETA_TAG }}"
        git tag "${{ env.BETA_TAG }}"
        git push origin HEAD:${{ env.TARGET_BRANCH }}
        git push origin "${{ env.BETA_TAG }}"
