name: Create a beta release after the release
on:
  release:
    types: [published]

jobs:
  createBetaReleaseCommit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: '!github.event.prerelease'
    steps:
    - name: Checkout branch
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Create Next Patch
      run: |
        current_version="${{ github.event.release.tag_name }}"
        echo "Current version: $current_version"
        patch=$(cut -d'.' -f3 <<< "$current_version")
        ((patch++))
        next_version="${current_version%.*}.$patch"
        next_beta="v${next_version}-beta.0"
        echo "Next beta version: $next_version"
        echo "NEXT_BETA_TAG=$next_beta" >> $GITHUB_ENV
    - name: Commit release and tag using Git commands
      run: |
        git commit --allow-empty -m "Release commit for ${{ env.NEXT_BETA_TAG }}"
        git tag "${{ env.NEXT_BETA_TAG }}"
        git push
        git push origin "${{ env.NEXT_BETA_TAG }}"
