name: Create a beta release after the release
on:
  release:
    types: [published]

jobs:
  createBetaReleaseCommit:
    runs-on: ubuntu-latest
    steps:
    - name: Runs on Pre-Release
      if: 'github.event.prerelease'
      run: echo "This is a Pre-Release. The beta commit is not created"
    - name: Runs on Release
      if: '!github.event.prerelease'
      run: echo "This is a Release - {{ $github.ref_name }} Creating a release beta commit."
