name: Create a beta release after the release
on:
  release:
    types: [published]

jobs:
  createBetaReleaseCommit:
    runs-on: ubuntu-latest
    if: '!github.event.prerelease'
    steps:
    - uses: actions/checkout@v6
    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Runs on Release
      run: echo "This is a Release - ${{ github.ref_name }} Creating a release beta commit."
    - name: Commit and Tag using Git commands
      run: |
        git add .
        git commit --allow-empty -m "Release ${{ github.ref_name }}"
        git tag -a ${{ github.ref_name }} -m "Release ${{ github.ref_name }}"
        git push origin HEAD --tags
