name: Create a beta commit and tag after release
on:
  release:
    types: [published]

jobs:
  check-build-trigger:
    runs-on: ubuntu-latest
    outputs:
      is_valid: ${{ steps.validate.outputs.is_valid }}
    steps:
      - id: validate
        name: Validate inputs
        run: |
          VALID=false
          TAG="${{ github.event.release.tag_name }}"
          IS_PRERELEASE=${{ github.event.release.prerelease }}
          TARGET_BRANCH="${{ github.event.release.target_commitish }}"
          if [[ ! $TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Skip Reason: Tag '$TAG' is not formatted as 'vMAJOR.MINOR.PATCH'"
          elif [[ "$IS_PRERELEASE" == "true" ]]; then
            echo "Skip Reason: A GitHub prerelease was created instead of a GitHub release"
          elif [[ ! $TARGET_BRANCH == releases/* ]]; then
            echo "Skip Reason: Target branch was set to '$TARGET_BRANCH', instead of 'releases/*'"
          else
            echo "All checks passed. Proceeding with beta tag creation."
            VALID=true
          fi
          echo "is_valid=$VALID" >> $GITHUB_OUTPUT

  create-release-commit:
    needs: check-build-trigger
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: needs.check-build-trigger.outputs.is_valid == 'true'
    steps:
    - name: Checkout branch
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Debug Info
      run: |
        branch="${{ github.event.release.target_commitish }}"
        echo "Target branch: $branch"
        current_version="${{ github.event.release.tag_name }}"
        echo "Current version: $current_version"
        patch=$(cut -d'.' -f3 <<< "$current_version")
        ((patch++))
        next_version="${current_version%.*}.$patch"
        next_beta="${next_version}-beta.0"
        echo "Next beta version: $next_beta"
        echo "NEXT_BETA_TAG=$next_beta" >> $GITHUB_ENV
    - name: "Commit, tag and push to ${{ github.event.release.target_commitish }}"
      run: |
        git commit --allow-empty -m "Release commit for ${{ env.NEXT_BETA_TAG }}"
        git tag "${{ env.NEXT_BETA_TAG }}"
        git push origin HEAD:${{ github.event.release.target_commitish }}
        git push origin "${{ env.NEXT_BETA_TAG }}"
