name: Create a beta release after the release
on:
  release:
    types: [published]

jobs:
  createBetaReleaseCommit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: '!github.event.prerelease'
    steps:
    - name: Checkout branch
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Configure Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
    - name: Calculate Next Version
      id: bump
      run: |
        current_version="${{ github.ref_name }}"
        echo "Current version: $current_version"
        patch=$(cut -d'.' -f3 <<< "$current_version")
        ((patch++))
        next_version="${current_version%.*}.$patch"
        echo "NEXT_TAG=$next_version" >> $GITHUB_ENV
        echo "Next patch: $next_version"
    - name: Runs on Release
      run: echo "This is a Release - ${{ github.ref_name }} Creating a release beta commit."
    - name: Commit and Tag using Git commands
      run: |
        git add .
        git commit --allow-empty -m "Release ${{ github.ref_name }}"
        git tag -a ${{ env.NEXT_TAG }} -m "Release ${{ github.ref_name }}"
        git push origin HEAD:${{ github.event.release.target_commitish }}
        git push origin --tag ${{ env.NEXT_TAG }}
